<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Money Manager</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<header>

</header>
<section>
    <div>
        <a th:href="@{|/cash/update/${cashDTO.cashId}|}">수정</a><a th:href="@{|/cash/delete/${cashDTO.cashId}|}">삭제</a>
    </div>
    <div th:object="${cashDTO}">
        <span th:text="*{cashId}">번호</span>
        <span th:text="*{cashName}">현금명</span>
        <span th:text="*{totalAsset}">총액</span>
        <span th:text="*{cashMemo}">메모</span>
        <span th:text="*{cashPhotoName}" value="보기"><button>클릭</button></span> <!-- 이미지 호출 로직 짜기 -->
    </div>
    <div>
        <button onclick="bToMain()">돌아가기</button>
    </div>
    <div class="container">
        <div class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/cash/(page=1)}">
                    <span>First</span>
                </a>
            </li>

            <li th:class="${balancePage.first} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="${balancePage.first}  '#' : @{/cash/(page=${balancePage.number})}">
                    <span>&lt;</span>
                </a>
            </li>

            <!-- 해당 부분 오류 발생 원인 찾아야 함. -->
            <li th:each="page: ${#numbers.sequence(balanceStartPage, balanceEndPage)}"
                th:class="${page == balancePage.number + 1} ? 'active'" class="page-item">
                <a class="page-link" th:text="${page}" th:href="@{/cash/(page=${page})}"></a>
            </li>

            <li th:class="${balancePage.last} ? 'disabled'">
                <a class="page-link" th:href="${balancePage.last} ? '#' : @{/cash/(page=${balancePage.number + 2})}">
                    <span>&gt;</span>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link" th:href="@{/cash/(paeg=${balancePage.totalPages})}">
                    <span>Last</span>
                </a>
            </li>

        </div>
    </div>
</section>
</body>
<script>
    function bToMain() {
        location.href="/cash/findAll";
    }
</script>
</html>