<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Money Manager</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<header>
    board update
    <!-- -->
</header>
<main>
    <form action="/board/update" method="post" th:object="${bDTO}" th:name="*{boardId}" enctype="multipart/form-data">
        게시번호 : <input type="text" name="boardId" th:value="*{boardId}" readonly>
        제목 : <input type="text" name="boardTitle" th:value="*{boardTitle}"> 조회수 : <input type="text" name="boardHits" th:value="*{boardHits}" readonly>
        작성자 : <input type="text" name="boardWriter" th:value="*{boardWriter}" readonly>
        내용 : <textarea th:value="*{boardContents}" name="boardContents" rows="10"></textarea> <!-- 디자인 바꾸는 방법이 필요함. -->
        이미지 :
        ??
        <input type="submit" value="수정"><button onclick="bToMain()"></button>
    </form>
</main>
<footer>

</footer>
</body>
<script>
    function bToMain() {
        const boardId = document.getElementById('boardId');
        location.href="/board/" + boardId;
    }
</script>
</html>