<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Money Manager</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<header>

</header>
<section>
    <form action="/bank/save" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{session['loginId']}" readonly> <!-- 고안 필요 -->
        <input type="hidden" th:field="*{bsave.memberId}" th:value="" readonly>
        계좌 명 : <input type="text" th:field="*{bsave.bankName}">
        메모 : <textarea th:field="*{bsave.bankMemo}" rows="3"></textarea>
        초기 자금 : <input th:field="*{bsave.totalAsset}">
        <input type="submit" value="계좌 생성"><input type="submit" value="돌아가기" onclick="bToIndex()">
    </form>
</section>
</body>
<script>
    function bToIndex() {
        location.href="/index";
    }
</script>
</html>